<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>Listify</title>
</head>
    <div class="item" id=<%=id%>>
        <input type="checkbox" class="checkbox"></input>
        <p class="item-name" contenteditable><%= item %></p>
        <div class="quantity-price-container">
            <input type="text" class="item-quantity" value= <%=quantity%> ></input>
            <input type="text" class="unit-price" value= <%=unitPrice%> ></input>
        </div>
        <div class="noteTotalprice" noDisplay>
            <div class="note">
                <p>note</p> 
                <textarea class="noteInput"> <%=note%> </textarea>
            </div>
            <div class="totalPrice">
                <p class="priceLabel">total price</p>
                <p class="priceDisplay"> <%=totalPrice%> </p>
            </div>
        </div>
    </div>

</html>