<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
   
    <title>Listify</title>
</head>
<body>
        <header>
            <%- include("../partials/header.ejs") %>
        </header>

        
        <div class="wrapper">
            <div class="top-container">
                <div class="list-name">
                    <% if(list_name){ %>
                        <p contenteditable class="list-name-input"> <%= list_name %> </p>
                        
                        <% } else{ %>
                            <p contenteditable class="list-name-input" data-placeholder = "Add list name"></p>

                   <% } %>
                </div>
                <div class="input-container">
                    <input class="list-item-input" type="text" placeholder="Add item" autofocus></input>
                </div>
            </div>
            <div class="item-container">
                <div class="label">
                    <span class="mini">Qty</span>
                    <span class="mini price">Price</span>
                </div>
                
            <div class="items">
                <% if(itemArr !== []) { %>
                    <% const uncheckedArr = itemArr.filter(item => item.checked == false) %>
                    <% const checkedArr = itemArr.filter(item => item.checked == true) %>
                    <% uncheckedArr.forEach(returnedItem => { %>
                        <%-include("../partials/item.ejs",{item: returnedItem.itemName, 
                            quantity: returnedItem.itemQuantity,
                            unitPrice: returnedItem.unitPrice || 0,
                            id: returnedItem._id,
                            totalPrice: returnedItem.totalPrice,
                            note: returnedItem.note}) %>
                    <%  } ) %>

                    <% checkedArr.forEach(returnedItem => { %>
                        <%-include("../partials/checked-item.ejs",{item: returnedItem.itemName, 
                            quantity: returnedItem.itemQuantity,
                            unitPrice: returnedItem.unitPrice || 0,
                            id: returnedItem._id,
                            totalPrice: returnedItem.totalPrice,
                            note: returnedItem.note}) %>
                    <%  } ) %>
                <% } else { %>
                    <p>No items added.</p>
                <%  } %>
            </div>
            </div>
            <div class="bottom-wrapper">
                <div class="bottom-container">
                    <div class="bottom-text">
                        <p>Plan to buy: ￥ <%= sum%> </p>
                        <p>Purchased: </p>
                    </div>
                </div>
                <a class="hide btn" >Hide</a>
                <a class="show btn" hidden>Show</a>
            </div>
        
        </div>
        <script src= "/javascripts/each-list-page.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>